@import url('https://fonts.googleapis.com/css?family=Comic+Neue:400,700&display=swap');



body{
    text-align: center;
    font-family: 'Comic Neue', cursive;


}

.page{
    display: flex;
    justify-content: center;
}

.processing-item img{
    width: 100px;
    height: 100px;
}

.processing-item{
    position: absolute;
    top: 100px;
}

.download{
    animation-name: download-ani;
    animation-duration: 1s;
    opacity: 0;
}

@keyframes download-ani {
    0% {
        transform: scale(0.8) translateX(300%);
        opacity: 0;
        visibility: hidden;
    }
    20% {
        transform: scale(1.2) translateX(0) translateY(-5%);
        opacity: 1;
        visibility: visible;
    }
    50% {
        transform: scale(1.2) translateX(0) translateY(5%);
        opacity: 1;
        visibility: visible;
    }
    80% {
        transform: scale(1) translateX(0) translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: scale(0.8) translateX(-300%);
        opacity: 0;
        visibility: hidden;
    }
}

.file{
    opacity: 0;
    animation-name: file-ani;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-delay: 1s;
}

@keyframes file-ani {
    0% {
        transform: scale(0.8) translateX(300%);
        opacity: 0;
        visibility: hidden;
    }
    20% {
        transform: scale(1.2) translateX(0) translateY(-5%);
        opacity: 1;
        visibility: visible;
    }
    50% {
        transform: scale(1.2) translateX(0) translateY(5%);
        opacity: 1;
        visibility: visible;
    }
    80% {
        transform: scale(1) translateX(0) translateY(0%);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: scale(0.8) translateX(-300%);
        opacity: 0;
        visibility: hidden;
    }
}


.file-success{
    opacity: 0;
    animation-name: file-success-ani;
    animation-duration: 2s;   
    animation-delay: 4s;
    animation-fill-mode: forwards ;
}

@keyframes file-success-ani {

    0% {
        transform: translateY(-20%) scale(1.2);
        opacity: 0;
        visibility: hidden;
    }

    10% {
        transform: translateY(0) scale(1);
        opacity: 1;
        visibility: visible;
    }

    20% {
        transform: translateY(-8%);
        opacity: 1;
    }

    30% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.processing-label{
    margin-left: 8px;
    font-size: 16px;
    font-weight: 700;
}

.processing{
    margin-left: 12px;
    font-size: 16px;
    position: absolute;
    top: 230px;
    opacity: 0;
    animation-name: processing-ani;
    animation-duration: 1s;
    animation-iteration-count: 4;
}

@keyframes processing-ani {

    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.done{
    font-weight: 700;
    margin-left: 40px;
    font-size: 16px;
    position: absolute;
    top: 215px;
    opacity: 0;
    animation-name: done-ani;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards ;
    
}

@keyframes done-ani {
    
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}