
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: tomato;
}

.section  {
 width: 100%;
 height: 820px;
 background-color:rgba(211, 82, 50, 0.7);

}



.processing-container {
    margin: 2% auto;
    width: 100%px ;
    height: 800px;
    border: 2px solid rgb(37, 37, 4);
}



.img1 {
    width: 80px;
    height: 80px;
    animation-name: anim;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    /* transition: visibility ; */
   
    animation-fill-mode: backwards;

}
.img2 {
    width: 80px;
    height: 80px;
    animation-name: anim;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
 
    animation-fill-mode: backwards;

} 

.img3 {
    width: 80px;
    height: 80px;
    animation-name: anim;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-iteration-count: infinite;
  
    animation-fill-mode: backwards;
    
}
  

@keyframes anim {
    from {
      transform: translate(500px, -1px) ;
      
      transition: hidden;
        /* transform: translateX(-1px 700px) rotate(0turn); */
    }

    at {
        transform: translate(500px, -1px);
    }
}

      /* transform: translate(700px -1px) rotate(4turn);; */
  


